*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* ROOT FRAME (your Frame 3 = Frame 1 here) */
.frame-1 {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow-y: scroll;
  background: #040303;
  color: #fff;
}

/* Outline ellipses (border only) */

.ellipse {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.16);
  background: transparent;
}

/* Ellipse 2 */
.ellipse-2 {
  width: 426px;
  height: 426px;
  left: -178px;
  top: 511px;
}

/* Ellipse 11 */
.ellipse-11 {
  width: 426px;
  height: 426px;
  left: -102px;
  top: -93px;
}

/* Ellipse 3 */
.ellipse-3 {
  width: 426px;
  height: 426px;
  left: 786px;
  top: -241px;
}

/* Ellipse 5 */
.ellipse-5 {
  width: 255px;
  height: 255px;
  left: 727px;
  top: 469px;
}

/* Ellipse 6 */
.ellipse-6 {
  width: 426px;
  height: 426px;
  left: 1241px;
  top: 818px;
}

/* Ellipse 7 */
.ellipse-7 {
  width: 426px;
  height: 426px;
  left: 1667px;
  top: 154px;
}

/* Enthalion gradient bar */

.enthalion-bar {
  position: absolute;
  width: 1383.99px;
  height: 238.17px;
  left: 35px;
  top: 39px;
  background: linear-gradient(
    180deg,
    #63006c -13.78%,
    rgba(169, 100, 212, 0.881154) 50.22%,
    rgba(170, 120, 255, 0.76) 100%
  );
  box-shadow: 0px 3.75068px 3.75068px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding-left: 48px;
}

.enthalion-text {
  font-family: "Satoshi Variable", system-ui, sans-serif;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* Science Club text */

.science-club {
  position: absolute;
  width: 567.29px;
  height: 60.95px;
  left: 35px;
  top: 370.92px;

  font-family: "Satoshi Variable", system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37.5068px;
  line-height: 51px;
  letter-spacing: -0.03em;

  color: #ffffff;
}

/* Navigation pill frame (Frame 2147237997) */

.hero-nav {
  box-sizing: border-box;
  position: absolute;
  width: 1159px;
  height: 57px;
  left: 260px;
  top: 367px;

  background: rgba(0, 0, 0, 0.001);
  border: 1.87534px solid #838383;
  border-radius: 41.2575px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 22px;
}

/* Common nav text style from Figma (“about us”, “events”, “register”) */

.hero-nav .nav-link {
  border: none;
  background: transparent;
  cursor: pointer;

  font-family: "Satoshi Variable", system-ui, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;

  color: #ffffff;

  text-shadow:
    0px 0px 8.81409px rgba(255, 255, 255, 0.35),
    0px 3.75068px 9.56423px rgba(0, 0, 0, 0.6);
}

/* Tagline “where curiosity reacts” (Group 1) */

.tagline {
  position: absolute;
  width: 1473px;
  height: 57px;
  left: 35px;
  top: 299px;

  font-family: "Satoshi Variable", system-ui, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31.786px;
  line-height: 43px;
  letter-spacing: 1.41em;
  text-transform: lowercase;

  color: #ffffff;

  text-shadow: 0px 0px 45.295px rgba(255, 255, 255, 0.25);
}

/* Big rotated white vector block (Vector 1) */

.vector-1 {
  position: absolute;
  width: 839.64px;
  height: 859px;
  left: 1311px;
  top: 180.48px;

  background: #ffffff;
  box-shadow: 0px 0px 34.4152px rgba(255, 255, 255, 0.2);
  border-radius: 52.1659px;
  transform: matrix(-0.79, 0.61, 0.61, 0.79, 0, 0);
}

/* Colored orb ellipses 8, 9, 10 on top of vector */

.orb {
  position: absolute;
  border-radius: 50%;
}

/* Ellipse 8 */
.orb-8 {
  width: 104.78px;
  height: 104.78px;
  left: 1580.22px;
  top: 282.03px;

  background: #b700ff;
  box-shadow: 0px 0px 26.0898px rgba(183, 0, 255, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Ellipse 9 */
.orb-9 {
  width: 74.67px;
  height: 74.67px;
  left: 1487px;
  top: 262px;

  background: #9100ff;
  box-shadow: 0px 0px 26.9474px rgba(144, 0, 255, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Ellipse 10 */
.orb-10 {
  width: 62.51px;
  height: 62.51px;
  left: 1517.82px;
  top: 364.47px;

  background: #dc9fff;
  box-shadow: 0px 0px 26.9474px rgba(220, 159, 255, 0.2);
  transform: matrix(-1, -0.01, -0.01, 1, 0, 0);
}

/* About paragraph block (two layers) */

.about-block {
  position: absolute;
  width: 1383px;
  height: 502px;
  left: 104px;
  top: 489px;
}

/* Base typography from Figma */
.about-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: "Gowun Batang", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -0.03em;
}

/* Blurred purple glow layer (this is the second block in Figma) */
.about-text-glow {
  color: #a97fff;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  filter: blur(6px);
  z-index: 1;
}

/* Sharp white foreground text */
.about-text-main {
  color: #ffffff;
  z-index: 2;
}
